body {
  background-position: center center;
  background-image: url(bacground_PC.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: minmax(300px, 0.6fr);
  grid-template-rows: repeat(5, auto);
  margin: 100px 0px 100px 50px;
}


.date {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 56px;
  letter-spacing: 0.01em;
  color: #2D4080; 
}

.logo {
  margin: 10px 0px 0px 0px; 
}

.h1 {
  margin: 10px 0px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 50px;
  color: #000000;
}

.text {
  margin: 10px 0px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #3D3D3D;
  max-width: 600px;


}

.button {
  padding:5px 5px 5px 5px;
  
}

button {
  max-width: 352px;
  height: 50px;

  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  background: #2E3F7F;
  border-radius: 25px;
  align-content: center;
  line-height: 0px;
  text-align: center;
}

.button p {
    font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
}

@media (max-width: 1200px){
  .container{
    max-width:  970px;
  }
}

@media (max-width: 992px){
  .container{
    max-width: 750px;
  }
}

@media (max-width: 767px){
  .container{
    max-width: 320px;
  }
}

